<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    {% set page_name = "Access Denied" %}
    {% include "standard_page.html" %}
    <head>
        {% if session["first_name"] != None %}
        <meta http-equiv="refresh" content="10; URL={{session["url"]}}/user_management" />
        {% else: %}
        <meta http-equiv="refresh" content="10; URL={{session["url"]}}" />
        {% endif %}
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">
                Access Denied
            </h1>

            {% if session["first_name"] != None: %}
                <p>
                    I'm sorry {{session["first_name"]}}, but it seems like you do not have
                    permission to do this, if you believe this to be a mistake please contact
                    your system administrator for assistance.
                    <br />
                    You will be shortly redirected to the User Management Panel.
                </p>
            {% else: %}
                <p>
                    You are not authorised to access this page,
                    you will be shortly redirected to the home page.
                </p>
            {% endif %}
            
            
        </div>

    </body>
</html>
