<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    {% set page_name = "Graphs" %}
    {% include "standard_page.html" %}
    <body>

        <div class="text-center">
            {% if session["first_name"]: %}
            <h1 class="display-4">
                Welcome to the Graph Page,<br />
                {{session["first_name"]}}
            </h1>
            {% else: %}
            <h1 class="display-4">
                Welcome to the Graph Page
            </h1>
            {% endif %}
            <!--
            <lead style="margin-bottom: 50px;">
                Click on a graph to download
            </lead>
            -->
            <table class="table" style="margin-top: 30px;">
                <thead style="display: none; position: fixed;">
                    <tr>
                        <th>
                            Temperature
                        </th>
                        <th>
                            Humidity
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="/static/graphs/monthly_temp.png" download="monthly_temperature">
                                <img class="img-responsive" src="/static/graphs/monthly_temp.png" alt="A graph displaying the monthly temperature in the environment" />
                            </a>
                        </td>
                        <td>
                            <a href="/static/graphs/monthly_hum.png" download="monthly_humidity">
                                <img class="img-responsive" src="/static/graphs/monthly_hum.png" alt="A graph displaying the monthly humidity in the environment" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/static/graphs/hourly_temp.png" download="hourly_temperature">
                                <img class="img-responsive" src="/static/graphs/hourly_temp.png" alt="A graph displaying the hourly temperature in the environment" />
                            </a>
                        </td>
                        <td>
                            <a href="/static/graphs/hourly_hum.png" download="hourly_humidity">
                                <img class="img-responsive" src="/static/graphs/hourly_hum.png" alt="A graph displaying the hourly humidity in the environment" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script type="text/javascript">
            function refreshPage() {
                window.location.reload(true);
            }

            setTimeout(refreshPage, 180000)
        </script>
    </body>
</html>
