<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>{{session["app_title"]}} | Home Page</title>

        <!-- Main Tags -->
    
        <meta name="title" content="{{session["app_title"]}}">
        <meta name="description" content="The {{session["app_title"]}} helps to ensure that the conditions within the house meet the requirements of the people within the area.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{session["url"]}}">
        <meta property="og:title" content="{{session["app_title"]}}">
        <meta property="og:description" content="The {{session["app_title"]}} helps to ensure that the conditions within the house meet the requirements of the people within the area.">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{session["url"]}}">
        <meta property="twitter:title" content="{{session["app_title"]}}">
        <meta property="twitter:description" content="The {{session["app_title"]}} helps to ensure that the conditions within the house meet the requirements of the people within the area.">

        <!-- Mobile -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Discord -->
        <meta name="theme-color"  content="#B30000"/>

        <!-- Bootstrap -->
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    </head>
    <body>
        <script type="text/javascript">
            let session_url = window.location.href;
            route = session_url.indexOf("sensor_management")
            session_url = session_url.slice(0, route)
        </script>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="{{session["url"]}}">{{session["app_title"]}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{session["url"]}}">Home</a>
                        </li>
                        {%for i in menu: %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{session["url"]}}{{menu[i]}}">{{i}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </nav>

        <script type="text/javascript">
            var securitySensors = {};
            var sensorIDs = [];
        </script>

        <br /><br />

        <div class="text-center">
            <h1 class="display-4">{{session["app_title"]}}</h1>
            <br /><br />
            {% if session["authorised"]: %}
            <h3>
                Welcome to the System<br />{{session["first_name"]}}
            </h3>
            {% else: %}
            <h3>
                Welcome to the System<br />
            </h3>
            {% endif %}

            <div>
                <table style="width:50%; margin: auto; table-layout: fixed; border-collapse: separate; border-spacing: 10px 100px;">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="card text-white bg-primary mb-3">
                                    <div class="card-title">Current Temperature</div>
                                    <div class="card-text" id="temperature">Loading...</div>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="card text-white bg-primary mb-3">
                                    <div class="card-title">Current Humidity</div>
                                    <div class="card-text" id="humidity">Loading...</div>
                                </div>
                            </th>
                        </tr>
                    </thead>

                </table>
                <div class="card text-white bg-primary mb-3" style="width: 49%; margin: auto; margin-top: -5.5%; text-align: center;">
                    <div class="card-title"><strong>Desired Temperature</strong></div>
                    <div class="card-text">{{desired_temperature}}°C</div>
                </div>

                <table style="width:40%; margin: auto; table-layout: fixed; border-collapse: separate; border-spacing: 50px 100px;">
                    <thead>
                        <tr>
                            {% for row in security_sensor: %}
                            <th scope="col">
                                <div class="card text-white bg-primary mb-3" style="padding: 5px;">
                                    <span style="display: none;">{{row[0]}}</span> <!-- Stores the Sensor ID-->
                                    <div class="card-title">{{row[1]}}</div> <!-- Stores Sensor Name-->
                                    <div class="card-text" id="sensor_{{row[0]}}">State: Loading...</div> <!-- Stores Sensor Status-->
                                </div>
                                <script type="text/javascript">
                                        securitySensors[{{ row[0] }}] = "{{ row[1] }}";
                                        sensorIDs.push({{ row[0] }})
                                </script>
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                </table>
            </div>
        </div>


        {% if session["authorised"]: %}
        <div class="text-center" style="margin-top: 50px;">
            <button type="button" class="btn btn-primary" onclick="GetSensorData()">
                Sensor Data<br /><span class="bi bi-download"></span>
            </button>
        </div>
        

        <script type="text/javascript">

            function GetSensorData() {
                var xml = new XMLHttpRequest();
                xml.open("GET", session_url + "/get_downloadable_sensor_data");
                xml.responseType = "json";
                xml.send();

                xml.onload = function () {
                    const data = xml.response;
                    var success = data.success;
                    if (success) {
                        var fileDownload = data.download;
                        window.location.href = fileDownload;
                    }
                }
            }

            function UpdateSecurityStatus() {
                var xml = new XMLHttpRequest();
                xml.open("GET", session_url + "/recent_security_information");
                xml.responseType = "json";
                xml.send();

                xml.onload = function () {
                    const data = xml.response;
                    var success = data.success;
                    console.log("Loaded " + success);
                    if (success) {
                        var sensor_data = data.value;

                        for (let i = 1; i < sensorIDs.length + 1; i++) {
                            var info = sensor_data[i];
                            var elementName = "sensor_" + String(i);
                            var element = document.getElementById(elementName);
                            const state = info.state;

                            element.innerHTML = "State: " + state;
                        }

                    } else {
                        console.warn("Failed to update security information.");
                    }
                }
            }

            function updateStats() {
                let httpReq = new XMLHttpRequest()
                httpReq.open("get", session_url + "/recent_sensor_information")
                httpReq.responseType = "json";
                httpReq.send()

                httpReq.onload = function () {
                    const data = httpReq.response;
                    var temperature;
                    var humidity;

                    try {
                        temperature = data.temperature;
                        humidity = data.humidity;
                    } catch (TypeError) {
                        console.warn("Failed to get sensor data from server.");
                        return;
                    }

                    temperature_button = document.getElementById("temperature");
                    humidity_button = document.getElementById("humidity");

                    temperature_button.innerHTML = temperature + "°C";
                    humidity_button.innerHTML = humidity + "%";

                }

                UpdateSecurityStatus();
            }

            updateStats();
            setInterval(updateStats, 2500);
        </script>
        {% else: %}
        <script type="text/javascript">
            function UpdateSecurityStatus() {
                var xml = new XMLHttpRequest();
                xml.open("GET", session_url + "/recent_security_information");
                xml.responseType = "json";
                xml.send();

                xml.onload = function () {
                    const data = xml.response;
                    var success = data.success;
                    console.log("Loaded " + success);
                    if (success) {
                        var sensor_data = data.value;

                        for (let i = 1; i < sensorIDs.length + 1; i++) {
                            var info = sensor_data[i];
                            var elementName = "sensor_" + String(i);
                            var element = document.getElementById(elementName);
                            const state = info.state;

                            element.innerHTML = "State: " + state;
                        }

                    } else {
                        console.warn("Failed to update security information.");
                    }
                }
            }

            function updateStats() {
                let httpReq = new XMLHttpRequest()
                httpReq.open("get", session_url + "/recent_sensor_information")
                httpReq.responseType = "json";
                httpReq.send()

                httpReq.onload = function () {
                    const data = httpReq.response;
                    var temperature;
                    var humidity;

                    try {
                        temperature = data.temperature;
                        humidity = data.humidity;
                    } catch (TypeError) {
                        console.warn("Failed to get sensor data from server.");
                        return;
                    }

                    temperature_button = document.getElementById("temperature");
                    humidity_button = document.getElementById("humidity");

                    temperature_button.innerHTML = temperature + "°C";
                    humidity_button.innerHTML = humidity + "%";

                }
                UpdateSecurityStatus();
            }

            updateStats();
            setInterval(updateStats, 4000);
        </script>
        {% endif %}
    </body>
</html>