<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    {% set page_name = "Home Page" %}
    {% include "standard_page.html" %}
    
    <body>

        <script type="text/javascript">
            function SetCardClass(elementName, cardClass) {
                card = document.getElementById(elementName);

                if (card.classList.contains("bg-primary") || cardClass != "bg-primary") {
                    card.classList.remove("bg-primary");
                }

                if (card.classList.contains("bg-warning") || cardClass != "bg-warning") {
                    card.classList.remove("bg-warning");
                }

                if (card.classList.contains("bg-danger") || cardClass != "bg-danger") {
                    card.classList.remove("bg-danger");
                }

                if (card.classList.contains("bg-dark") || cardClass != "bg-dark") {
                    card.classList.remove("bg-dark");
                }

                if (card.classList.contains("bg-info") || cardClass != "bg-info") {
                    card.classList.remove("bg-info");
                }

                if (card.classList.contains("bg-secondary") || cardClass != "bg-secondary") {
                    card.classList.remove("bg-secondary");
                }

                card.classList.add(cardClass);
            }

        </script>

        <br /><br />

        <div class="text-center">
            <h1 class="display-4">{{session["app_title"]}}</h1>
            <br /><br />
            {% if session["authorised"]: %}
            <h3>
                Welcome to the System<br />{{session["first_name"]}}
            </h3>
            {% else: %}
            <h3>
                Welcome to the System<br />
            </h3>
            {% endif %}

            <div>
                <table style="width:50%; margin: auto; table-layout: fixed; border-collapse: separate; border-spacing: 10px 100px;">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="card text-white bg-primary mb-3" id="temperature_card">
                                    <div class="card-title">Current Temperature</div>
                                    <div class="card-text" id="temperature">Loading...</div>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="card text-white bg-primary mb-3" id="humidity_card">
                                    <div class="card-title">Current Humidity</div>
                                    <div class="card-text" id="humidity">Loading...</div>
                                </div>
                            </th>
                        </tr>
                    </thead>

                </table>
                <div class="card text-white bg-primary mb-3" id="wanted_temperature_card" style="width: 49%; margin: auto; margin-top: -5.5%; text-align: center;">
                    <div class="card-title"><strong>Desired Temperature</strong></div>
                    <div class="card-text">{{desired_temperature}}°C</div>
                </div>
                <script type="text/javascript">
                    const desired_temperature = {{ desired_temperature }};
                </script>
                <table style="width:40%; margin: auto; table-layout: fixed; border-collapse: separate; border-spacing: 50px 100px;">
                    <thead>
                        <tr>
                            {% for row in security_sensor: %}
                            <th scope="col">
                                <div class="card text-white bg-primary mb-3" style="padding: 5px;" id="sensor_{{row[0]}}_card">
                                    <span style="display: none;">{{row[0]}}</span> <!-- Stores the Sensor ID-->
                                    <div class="card-title">{{row[1]}}</div> <!-- Stores Sensor Name-->
                                    <div class="card-text" id="sensor_{{row[0]}}">State: Loading...</div> <!-- Stores Sensor Status-->
                                </div>
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                </table>
            </div>
        </div>


        {% if session["authorised"]: %}
        <div class="text-center" style="margin-top: -120px;">
            <table style="margin: auto; border-collapse: separate; border-spacing: 50px 100px;">
                <thead>
                    <tr>
                        <th style="width: 30%">
                            <button type="button" class="btn btn-secondary" onclick="GetEnvironmentData()" style="width: 100%;">
                                Environment Data<br /><span class="bi bi-download"></span>
                            </button>
                        </th>
                        <th style="width: 30%">
                            <button type="button" class="btn btn-secondary" onclick="GetSecurityData()" style="width: 100%;">
                                Security Data<br /><span class="bi bi-download"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
            </table>
            
        </div>
        

        <script type="text/javascript">

            function GetSecurityData() {
                var xml = new XMLHttpRequest();
                xml.open("GET", session_url + "/get_downloadable_security_data");
                xml.responseType = "json";
                xml.send();

                xml.onload = function () {
                    const data = xml.response;
                    var success = data.success;
                    if (success) {
                        var fileDownload = data.download;
                        window.location.href = fileDownload;
                    }
                }
            }

            function GetEnvironmentData() {
                var xml = new XMLHttpRequest();
                xml.open("GET", session_url + "/get_downloadable_environment_data");
                xml.responseType = "json";
                xml.send();

                xml.onload = function () {
                    const data = xml.response;
                    var success = data.success;
                    if (success) {
                        var fileDownload = data.download;
                        window.location.href = fileDownload;
                    }
                }
            }
            
            function UpdateSecurityStatus() {
                let xml = new XMLHttpRequest();
                let url = session_url + "/recent_security_information";
                xml.open("get", url);
                xml.responseType = "json";
                xml.send()
                xml.onload = function () {
                    const data = xml.response;
                    const success = data.success;

                    if (success == false) {
                        console.warn("Failed to get sensor data.")
                        return;
                    }

                    let sensor_data = data.value;

                    for (sensor_id in sensor_data) {
                        try {
                            let data = sensor_data[sensor_id];
                            let elementName = "sensor_" + String(sensor_id);
                            let cardName = "sensor_" + String(sensor_id) + "_card";
                            
                            let element = document.getElementById(elementName);
                            let card = document.getElementById(cardName);

                            element.innerHTML = data.status;

                            if (data.status == "Closed") {
                                SetCardClass(cardName, "bg-danger");
                            } else if (data.status == "Open") {
                                SetCardClass(cardName, "bg-success");
                            }
                        } catch (e) {
                            console.warn("Sensor Update Error: ", e);
                        }
                    }
                }
            }


            function updateStats() {
                let httpReq = new XMLHttpRequest()
                httpReq.open("get", session_url + "/recent_sensor_information")
                httpReq.responseType = "json";
                httpReq.send()

                httpReq.onload = function () {
                    const data = httpReq.response;
                    var temperature;
                    var humidity;

                    try {
                        temperature = data.temperature;
                        humidity = data.humidity;
                    } catch (TypeError) {
                        console.warn("Failed to get sensor data from server.");
                        return;
                    }

                    temperature_class = ""
                    humidity_class = ""

                    if (temperature >= 29) {
                        temperature_class = "bg-danger";
                    } else if (temperature < 29 || temperature > 24) {
                        temperature_class = "bg-primary";
                    } else {
                        temperature_class = "bg-success";
                    }

                    if (humidity >= 60) {
                        humidity_class = "bg-danger";
                    } else if (humidity < 60 || temperature > 50) {
                        humidity_class = "bg-primary";
                    } else {
                        humidity_class = "bg-success"
                    }

                    if (temperature > desired_temperature) {
                        SetCardClass("wanted_temperature_card", "bg-danger")
                    } else {
                        SetCardClass("wanted_temperature_card", "bg-success")
                    }

                    SetCardClass("temperature_card", temperature_class);
                    SetCardClass("humidity_card", humidity_class);

                    temperature_button = document.getElementById("temperature");
                    humidity_button = document.getElementById("humidity");

                    temperature_button.innerHTML = temperature + "°C";
                    humidity_button.innerHTML = humidity + "%";

                }

                UpdateSecurityStatus();
            }

            updateStats();
            setInterval(updateStats, 2500);
        </script>
        {% else: %}
        <script type="text/javascript">


            function UpdateSecurityStatus() {
                let xml = new XMLHttpRequest();
                let url = session_url + "/recent_security_information";
                xml.open("get", url);
                xml.responseType = "json";
                xml.send()
                xml.onload = function () {
                    const data = xml.response;
                    const success = data.success;

                    if (success == false) {
                        console.warn("Failed to get sensor data.")
                        return;
                    }

                    let sensor_data = data.value;

                    for (sensor_id in sensor_data) {
                        try {
                            let data = sensor_data[sensor_id];
                            let elementName = "sensor_" + String(sensor_id);
                            let cardName = "sensor_" + String(sensor_id) + "_card";

                            let element = document.getElementById(elementName);
                            let card = document.getElementById(cardName);

                            element.innerHTML = data.status;

                            if (data.status == "Closed") {
                                SetCardClass(cardName, "bg-danger");
                            } else if (data.status == "Open") {
                                SetCardClass(cardName, "bg-success");
                            }
                        } catch (e) {
                            console.warn("Sensor Update Error: ", e);
                        }
                    }
                }
            }


            function updateStats() {
                let httpReq = new XMLHttpRequest()
                httpReq.open("get", session_url + "/recent_sensor_information")
                httpReq.responseType = "json";
                httpReq.send()

                httpReq.onload = function () {
                    const data = httpReq.response;
                    var temperature;
                    var humidity;

                    try {
                        temperature = data.temperature;
                        humidity = data.humidity;
                    } catch (TypeError) {
                        console.warn("Failed to get sensor data from server.");
                        return;
                    }

                    temperature_button = document.getElementById("temperature");
                    humidity_button = document.getElementById("humidity");

                    temperature_class = ""
                    humidity_class = ""

                    if (temperature >= 29) {
                        temperature_class = "bg-danger";
                    } else if (temperature < 29 || temperature > 24) {
                        temperature_class = "bg-primary";
                    } else {
                        temperature_class = "bg-success";
                    }

                    if (humidity >= 60) {
                        humidity_class = "bg-danger";
                    } else if (humidity < 60 || temperature > 50) {
                        humidity_class = "bg-primary";
                    } else {
                        humidity_class = "bg-success"
                    }

                    if (temperature > desired_temperature) {
                        SetCardClass("wanted_temperature_card", "bg-danger")
                    } else {
                        SetCardClass("wanted_temperature_card", "bg-success")
                    }

                    SetCardClass("temperature_card", temperature_class);
                    SetCardClass("humidity_card", humidity_class);

                    temperature_button.innerHTML = temperature + "°C";
                    humidity_button.innerHTML = humidity + "%";

                }
                UpdateSecurityStatus();
            }

            updateStats();
            setInterval(updateStats, 4000);
        </script>
        {% endif %}
    </body>
</html>
