<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    {% set page_name = "Home Page" %}
    {% include "standard_page.html" %}
    <body>
        <div class="text-center" style="vertical-align: central;">
            <h1 class="bi bi-person-badge-fill"></h1>
            <h1 class="display-4">
                Login Form
            </h1>

            {% if display_warning: %}
            <br />
            <div class="alert alert-warning">
                {{warning_message}}
            </div>
            {% endif %}
            <br />
            <br />


            <form action="" method="post" style="width: 50%; margin: auto;">
                <div class="md-form form-lg">
                    <input class="form-control form-control-lg" style="text-align: center;" name="keycard" id="keycard" placeholder="**********" maxlength="10" type="password" autofocus autocomplete="off" required />
                </div>
            </form>

        </div>
    </body>
</html>
