<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    {% set page_name = "Sensor Management" %}
    {% include "standard_page.html" %}
    
    <body>
        <div class="text-center">
            <h1 class="display-4">
                Welcome to Sensor Management,<br />{{session["first_name"]}}
            </h1>

            <p>
                Within this area, you are able to manage the
                sensors that are used to gather data about the
                home environment.
            </p>

            <br />

            <script type="text/javascript">
                function toggleSensorState() {
                    let xhr = new XMLHttpRequest();
                    xhr.open("get", session_url + "/toggle_sensor")
                    xhr.responseType = "json";
                    xhr.send()

                    xhr.onload = function () {
                        const state = xhr.response;
                        const currentValue = state.value
                        const valid = state.success
                        if (valid == true) {
                            console.log("Successfully interacted with the server.");
                            button = document.getElementById("sensor_button");
                            console.log(state);
                            if (currentValue == true) {
                                button.innerHTML = "Online";
                            } else {
                                button.innerHTML = "Offline";
                            }
                        } else {
                            console.log("Failed to change the sensor state.");
                        }

                    }
                } 


                function toggleEnvironmentState() {
                    let xhr = new XMLHttpRequest();
                    xhr.open("get", session_url + "/toggle_environment_modification")
                    xhr.responseType = "json";
                    xhr.send()

                    xhr.onload = function () {
                        const state = xhr.response;
                        const currentValue = state.value
                        const valid = state.success
                        if (valid == true) {
                            console.log("Successfully interacted with the server.");
                            button = document.getElementById("environment_button");
                            console.log(state);
                            if (currentValue == true) {
                                button.innerHTML = "Online";
                            } else {
                                button.innerHTML = "Offline";
                            }
                        } else {
                            console.log("Failed to change the environment state.");
                        }

                    }
                }
                
                function SetCardClass(elementName, cardClass) {
                    card = document.getElementById(elementName);

                    if (card.classList.contains("bg-primary") || cardClass != "bg-primary") {
                        card.classList.remove("bg-primary");
                    }

                    if (card.classList.contains("bg-warning") || cardClass != "bg-warning") {
                        card.classList.remove("bg-warning");
                    }

                    if (card.classList.contains("bg-danger") || cardClass != "bg-danger") {
                        card.classList.remove("bg-danger");
                    }

                    if (card.classList.contains("bg-dark") || cardClass != "bg-dark") {
                        card.classList.remove("bg-dark");
                    }

                    if (card.classList.contains("bg-info") || cardClass != "bg-info") {
                        card.classList.remove("bg-info");
                    }

                    if (card.classList.contains("bg-secondary") || cardClass != "bg-secondary") {
                        card.classList.remove("bg-secondary");
                    }

                    card.classList.add(cardClass);
                }
                
                function updateStats() {
                    let httpReq = new XMLHttpRequest()
                    httpReq.open("get", session_url + "/recent_sensor_information")
                    httpReq.responseType = "json";
                    httpReq.send()

                    httpReq.onload = function () {
                        const data = httpReq.response;
                        var temperature;
                        var humidity;

                        try {
                            temperature = data.temperature;
                            humidity = data.humidity;
                        } catch (TypeError) {
                            console.warn("Failed to get sensor data from server.");
                            return;
                        }

                        temperature_button = document.getElementById("temperature");
                        humidity_button = document.getElementById("humidity");

                        temperature_class = ""
                        humidity_class = ""

                        if (temperature >= 29) {
                            temperature_class = "bg-danger";
                        } else if (temperature < 29 || temperature > 24) {
                            temperature_class = "bg-primary";
                        } else {
                            temperature_class = "bg-success";
                        }

                        if (humidity >= 60) {
                            humidity_class = "bg-danger";
                        } else if (humidity < 60 || temperature > 50) {
                            humidity_class = "bg-primary";
                        } else {
                            humidity_class = "bg-success"
                        }

                        SetCardClass("temperature_card", temperature_class);
                        SetCardClass("humidity_card", humidity_class);
                        
                        temperature_button.innerHTML = temperature + "°C";
                        humidity_button.innerHTML = humidity + "%";

                    }
                }

                updateStats();
                setInterval(updateStats, 3000);

            </script>

            <div>
                <table style="width: 50%; margin: auto; table-layout: fixed; border-collapse: separate; border-spacing: 10px 100px;">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="card text-white bg-primary mb-3" id="temperature_card">
                                    <div class="card-title">Current Temperature</div>
                                    <div class="card-text" id="temperature">Loading...</div>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="card text-white bg-primary mb-3" id="humidity_card">
                                    <div class="card-title">Current Humidity</div>
                                    <div class="card-text" id="humidity">Loading...</div>
                                </div>

                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            
            <table class="table" style="width: 50%; margin: auto; margin-top: -3%; table-layout: fixed; ">
                <thead>
                    <tr>
                        <th scope="col">
                            Sensors
                        </th>
                        <th scope="col">
                            Environment Modifications
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="sensor_button">
                            {% if sensor_state == True: %}
                                Online
                            {% else: %}
                                Offline
                            {% endif %}
                        </td>
                        <td id="environment_button">
                            {% if environment_state == True: %}
                                Online
                            {% else: %}
                                Offline
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary bi bi-power" onclick="toggleSensorState()">
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary bi bi-power" onclick="toggleEnvironmentState()">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>



            <br />
            <br />


            <form action="" method="post" style="width:50%; margin: auto;">
                <div class="md-form form-lg">
                    <label for="temperature">
                        Wanted Temperature:
                    </label>
                    <input class="form-control form-control-lg" style="text-align: center;" name="temperature" id="temperature" placeholder="{{temperature}}" type="number" step="0.1" autocomplete="off" required />
                </div>
                <br />
                <button type="submit" class="btn btn-primary">
                    Change
                </button>
            </form>


        </div>


    </body>
</html>
