<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>{{session["app_title"]}} | Modify</title>
        <!-- Main Tags -->

        <meta name="title" content="{{session["app_title"]}} | Modify">
        <meta name="description" content="The {{session["app_title"]}} helps to ensure that the conditions within the house meet the requirements of the people within the area.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{session["url"]}}">
        <meta property="og:title" content="{{session["app_title"]}} | Modify">
        <meta property="og:description" content="The {{session["app_title"]}} helps to ensure that the conditions within the house meet the requirements of the people within the area.">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{session["url"]}}">
        <meta property="twitter:title" content="{{session["app_title"]}} | Modify">
        <meta property="twitter:description" content="The {{session["app_title"]}} helps to ensure that the conditions within the house meet the requirements of the people within the area.">

        <!-- Mobile -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Discord -->
        <meta name="theme-color" content="#B30000" />

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="{{session["url"]}}">{{session["app_title"]}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{session["url"]}}">Home</a>
                        </li>
                        {%for i in menu: %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{session["url"]}}{{menu[i]}}">{{i}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="text-center">
            <h1 class="display-4" id="name_of_user">{{user_details[1]}} {{user_details[2]}}</h1>
            <br /><br />
            {% if user_changed == True: %}
            <div class="alert alert-success">
                <strong>Success!</strong> {{user_details[1]}}'s account has been changed.
            </div>
            {% elif user_changed == False: %}
            <div class="alert alert-danger">
                <strong>Failure!</strong> The application was unable to save the changes made to the account.
            </div>
            {% endif %}


            <br />


            <div class="form-group" style="display:none;">
                <label for="user_id" class="control-label col-sm-2">User ID:</label>
                <input id="user_id" value="{{ user_details[0] }}" readonly />
            </div>
            <div class="form-group">
                <label for="first_name" class="control-label col-sm-2">First Name:</label>
                <input id="first_name" type="text" placeholder="{{ user_details[1] }}" value="{{ user_details[1] }}" name="first_name" style="text-align: center;" />
            </div>
            <div class="form-group">
                <label for="last_name" class="control-label col-sm-2">Last Name:</label>
                <input id="last_name" type="text" placeholder="{{ user_details[2] }}" value="{{ user_details[2] }}" name="last_name" style="text-align: center;" />
            </div>
            <div class="form-group">
                <label for="level" class="control-label col-sm-2">Level:</label>
                <input name="level" type="number" placeholder="{{ user_details[3] }}" value="{{ user_details[3] }}" id="level" style="text-align: center;" />
            </div>

            <br /><br /><br />
            <table style="margin: auto; table-layout: fixed; border-collapse: separate; border-spacing: 20px 100px; ">
                <thead>
                    <tr>
                        <th scope="col">
                            <button type="submit" class="btn btn-primary" onclick="UpdateAccount()">Submit</button>
                        </th>
                        <th scope="col">
                            <button type="button" class="btn btn-primary bi bi-box-arrow-left" onclick="ReturnToAdminPage()">
                            </button>
                        </th>
                        <th scope="col">
                            <button type="reset" class="btn btn-primary" onclick="ClearInputs()">Clear</button>
                        </th>
                    </tr>
                </thead>
            </table>

            <br /><br />

            

        </div>

        <script type="text/javascript">
            let session_url = window.location.href;
            route = session_url.indexOf("modify_user")
            session_url = session_url.slice(0, route)

            function ReturnToAdminPage() {
                userID = document.getElementById("user_id");
                firstName = document.getElementById("first_name");
                lastName = document.getElementById("last_name");
                level = document.getElementById("level");

                changed = false;

                if (firstName.value != firstName.placeholder) {
                    changed = true;
                }

                if (lastName.value != lastName.placeholder) {
                    changed = true;
                }

                if (level.value != level.placeholder) {
                    changed = true;
                }

                if (changed) {
                    allowed = confirm("Are you sure you want to return to user management?");
                    if (allowed) {
                        window.location.assign(session_url + "/user_management");
                        return;
                    } else {
                        console.log("User cancelled exit request");
                        return;
                    }
                }

                window.location.assign(session_url + "/user_management");
            }

            function UpdateAccount() {
                userID = document.getElementById("user_id");
                firstName = document.getElementById("first_name");
                lastName = document.getElementById("last_name");
                level = document.getElementById("level");
                valid = false;

                if (firstName.value.length > 2) {
                    valid = true;
                }

                if (lastName.value.length < 2) {
                    valid = false;
                }

                let xml = new XMLHttpRequest();
                let payload = new FormData();

                payload.set("first_name", firstName.value);
                payload.set("last_name", lastName.value);
                payload.set("level", level.value);
                payload.set("user_id", userID.value);

                xml.open("POST", session_url + "change_account");
                xml.responseType = "json";
                xml.send(payload);

                xml.onload = function () {
                    const state = xml.response;
                    const valid = state.success;

                    if (valid) {
                        firstName.placeholder = firstName.value;
                        lastName.placeholder = lastName.value;
                        level.placeholder = level.value;
                        name = document.getElementById("name_of_user")
                        name.innerHTML = firstName.value + " " + lastName.value;
                        alert("Successfully saved the changes to your account");
                    } else {
                        firstName.value = firstName.placeholder;
                        lastName.value = lastName.placeholder;
                        level.value = level.placeholder;
                        alert("Failed to save changes to your account.");
                    }
                }

            }

            function ClearInputs() {
                firstName = document.getElementById("first_name");
                lastName = document.getElementById("last_name");
                level = document.getElementById("level");

                firstName.value = firstName.placeholder;
                lastName.value = lastName.placeholder;
                level.value = level.placeholder;
            }
        </script>

    </body>
</html>